@model LindaRyanFinalProject.Models.Vehicle

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add a Vehicle</h1>
<p>Don't see your Model listed? Add it <a asp-controller="VehicleModels" asp-action="Create">HERE</a> first.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*Vehicle Make and Model must be selected from dropdown list of previously added items*@
                <label asp-for="MakeId" class="control-label">Make</label>
                <select asp-for="MakeId" class="form-control" asp-items="ViewBag.MakeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label">Model</label>
                <select asp-for="ModelId" class="form-control" asp-items="ViewBag.ModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">Year</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colour" class="control-label"></label>
                <input asp-for="Colour" class="form-control" />
                <span asp-validation-for="Colour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoldDate" class="control-label"></label>
                <input asp-for="SoldDate" class="form-control" id="DatePicked" onchange="AssignSold()" />
                <span asp-validation-for="SoldDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoldStatus" class="control-label"></label>
                <input asp-for="SoldStatus" class="form-control" id="SoldStatus" readonly />
                <span asp-validation-for="SoldStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Vehicle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Inventory List</a>
</div>

    @*test if date value has been selected, if so assign Sold as value of SoldStatus field*@ 
    <script>
        function AssignSold() {
            var datePicked = $("#DatePicked").val();
            if (datePicked) {
                $("#SoldStatus").val("Sold");
            }
        }
    </script>