
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">About This Project</h1>
    <p>This Used Vehicle Dealership Inventory project was built by Linda Ryan for COMP1098 at Georgian College.<br />
    It is built using ASP.NET Core 2.2, SQL Server, Entity Framework, and Bootstrap.</p><p>Source code available on <a href="https://github.com/lindaryan/dealership" alt="View on GitHub">GitHub</a>.</p>
</div>
